* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

#main {
    position: relative;
    margin-top: 14vh;
    height: 86vh;
}

#contenedor {
    margin-top: 10%;
    position: relative;
    background: #fff;
    width: 90vw;
    height: 75vh;
    border-radius: 10px;
    border: 15px solid #774f39;
    left: 5vw;
    display: flex;
}

#cancel {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}

#cancel:hover {
    transform: scale(1.1);
}

#iniciarSesion {
    position: relative;
    margin-top: 7%;
    font-family: Red Rose;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #402f20;
}

#linea {
    position: relative;
    width: 100%;
    background-color: #ffa826;
    border: 2px solid #ffa826;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.columna {
    position: relative;
    width: 40%;
    height: 100%;
    margin-right: 7%;
    margin-left: 10%;
    margin-top: 20px;
}

.fila {
    display: flex;
    margin: 20px 3px 3px 3px;
}

.campo {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: 5px 30px 5px 30px;
}

.campo input {
    width: 100%;
    height: 100%;
    background: none;
    color: rgb(53, 52, 52);
    padding-top: 20px;
    border: none;
    outline: 0px;
}

.campo .datos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #9b9b9b;
}

.campo .datos:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #774f39;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.nombre_campo {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.campo input:focus+.datos .nombre_campo,
.campo input:valid+.datos .nombre_campo {
    transform: translateY(-150%);
    font-size: 13px;
}

.campo input:focus+.datos:after,
.campo input:valid+.datos:after {
    transform: translateX(0%);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .campo {
        width: 85%;
    }
}

#btnIngresar {
    width: 210px;
    height: 40px;
    margin-left: 25%;
    margin-top: 50px;
    position: relative;
    border: none;
    background: #774f39;
    border-radius: 7px;
    cursor: pointer;
    font-family: Red Rose;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

#btnIngresar:hover {
    background: rgba(255, 165, 21, 0.95);
    text-shadow: black;
    transform: scale(1.05);
}

#lblNoCuenta {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #4a4a4a;
}

#lblCreaCuenta {
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ef6e10;
    background: none;
    border: none;
    cursor: pointer;
}

#lblCreaCuenta:hover {
    transform: scale(1.1);
    color: rgba(255, 165, 21, 0.95);
}