* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(255, 122, 0);
    --marron: #62412F;
    --verde: #40b840;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 5rem; */
    height: 11vh;
    background: var(--bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    z-index: 10;
    /* justify-content: center; */
}

#contenedor_logo {
    display: flex;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 850px;
    height: 100%;
    /* height: 80px; */
    left: 100px;
}

#logo_img {
    cursor: pointer;
    width: 110px;
    height: 70px;
}

a {
    text-decoration: none;
}

.nav-menu {
    margin-left: 30px;
    margin-bottom: 0 !important;
}

.nav-menu li {
    display: inline-block;
    left: 78.59%;
    right: 0%;
    top: 37.5%;
    bottom: 37.5%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #010101;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 20px;
}

.nav-menu a {
    text-decoration: none;
    background-image: linear-gradient(var(--verde), var(--verde));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-size: 100% 2px;
}

ul {
    margin-bottom: 0;
}

ul a {
    color: #000 !important;
}

button {
    cursor: pointer;
    transition: 0.4s;
    border: none;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    color: white;
    transform: scale(0.99);
}

#btn_inisesion {
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 2rem;
    margin-top: 1%;
    /* margin-top: 1rem; */
    width: 203px;
    height: 42px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 0px 10px;
}

#btn_inisesion:hover {
    background: var(--verde);
}


/* Para todas las secciones */


/* section,
.fila-container {
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
} */


/* Para todos los titulos */


/* 
.titulos {
    margin-top: 10px;
} */

.titulos {
    left: 10px;
    font-size: 34px;
    margin-bottom: 5px;
    color: black;
}

.title {
    margin: 10px 0 20px 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0;
    margin-left: 10px;
    font-size: 34px;
    margin-bottom: 5px;
}

.section-contenedor {
    padding: 20px 0 0 0;
    height: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
}

#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-image: url(img/fondo.jpg);
    padding-top: 30vh;
}

#hero .hero-contenedor {
    float: left;
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero-contenedor-text {
    padding: 30px 20px 20px 20px;
    width: 28em;
    height: 45vh;
    background: rgba(196, 196, 196, 0.75);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero .btn-ver-mas {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 15px 20px 0 10px;
    border: none;
    color: #fff;
    background-color: var(--bg-color);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero .btn-ver-mas:hover {
    background-color: var(--verde);
}

#hero h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 74px;
    line-height: 74px;
    transform: scaleY(1.15);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}

#hero h2 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    color: rgba(61, 61, 61, 0.9);
    padding-top: 20px;
    font-size: 20px;
}


/* Seccion Conocenos */

.secciones {
    padding-top: 5.2rem;
}

.fila-container {
    box-sizing: border-box;
    padding-top: 4.5vh;
    justify-content: center;
}

.columna1 {
    float: left;
}

.columna2 {
    float: right;
    /*     text-align: center; */
}

#col2-conocenos {
    width: 57.4vw;
    padding-top: 3.8rem;
    text-align: center;
}

.subrayado {
    margin-top: 5px;
    width: 550px;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#descripcion {
    width: 400px;
    height: 220px;
    margin-top: 20px;
    margin-left: 78px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 19px;
}

#img_about_conocenos {
    width: 337px;
    height: 198px;
    margin-left: 105px;
    margin-bottom: 25px;
    background: url("img/about_img.png");
    background-size: cover;
    box-shadow: 1.5px 1.5px 8px 1.5px #999;
}


/* Cards */

#equipo {
    font-family: "Love Ya Like A Sister";
    font-style: normal;
    /* font-weight: normal; */
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

#fotos-equipo {
    background-image: url("img/fondo_puntos.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/* #fondo-puntos {
    position: absolute;
    margin-left: -25%;
    margin-top: 5%;
} */

.wrapper .outer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .card {
    background: #FFAB26;
    margin: 10px 10px 20px 80px;
    width: 260px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: center;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.card .content {
    display: flex;
    align-items: center;
}

.wrapper .card .img {
    height: 110px;
    width: 110px;
    position: absolute;
    left: -60px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.card .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .details {
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.details span {
    color: #fff;
    font-style: normal;
    line-height: 27px;
    font-weight: 600;
    font-size: 18px;
}


/* Servicios */

#img_servicios {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
}

#lista_servicios {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    position: absolute;
}

#fondo_servicios {
    width: 100%;
}

.servicios_img {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px;
}

.servicios_img:hover {
    transform: scale(1.05);
}


/* Contactanos */

.servicios-contenedor {
    height: 100%;
}


/* #img_contactanos {
    margin-top: 20px;
} */

#contact {
    margin-bottom: 0;
}

#descripcion_contact {
    margin: 20px;
    height: 400px;
    padding-top: 10px;
}

.text_contact {
    margin: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

#contact_1 {
    margin-top: 30px;
}

#col1-contactanos {
    width: 40vw;
}

#col2-contactanos {
    width: 58vw;
}