* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

#header {
    position: fixed;
    width: 100vw;
    height: 14vh;
    top: 0px;
    background: rgba(255, 122, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito;
    font-style: normal;
    z-index: 10;
}

#contenedor_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 850px;
    height: 80px;
    left: 100px;
    top: 8px;
}

#logo_img {
    width: 110px;
    height: 70px;
    left: 0px;
    top: 5px;
}

a {
    text-decoration: none;
}

.nav-menu {
    margin-left: 30px;
}

.nav-menu li {
    display: inline-block;
    left: 78.59%;
    right: 0%;
    top: 37.5%;
    bottom: 37.5%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #010101;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 20px;
}

.nav-menu a {
    text-decoration: none;
    background-image: linear-gradient(#40b840, #40b840);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #fff;
    background-size: 100% 2px;
}

#btn_inisesion {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 42px;
    left: calc(50% - 203px/2 + 481px);
    top: calc(50% - 42px/2);
    background: #FFFFFF;
    border: none;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.4s;
}

#btn_inisesion:hover {
    background: #40b840;
    color: white;
    transform: scale(0.99);
}


/* Para todas las secciones */

.secciones {
    width: 100%;
    height: 86vh;
    margin-bottom: 30px;
}


/* Para todos los titulos */

.titulos {
    margin-top: 10px;
}

#hero {
    margin-top: 14vh;
    background-size: cover;
    background-image: url(img/fondo.jpg);
}

.section-contenedor {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
}

#hero-contenedor-text {
    margin-top: 145px;
    margin-left: 64px;
    width: 440px;
    height: 275px;
    background: rgba(196, 196, 196, 0.75);
}

#petworld {
    width: 320px;
    margin-top: 30px;
}

#slogan {
    display: block;
    margin-left: 39px;
    margin-top: 20px;
}

#btn-ver-mas {
    background-color: rgba(255, 122, 0);
    margin-top: 20px;
    width: 157px;
    height: 46px;
    border: none;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

#btn-ver-mas:hover {
    background: #40b840;
}

#img_conocenos {
    width: 368px;
    height: 59px;
}


/* Seccion Conocenos */

#conocenos {
    margin-top: 20px;
}

.columna1 {
    float: left;
}

.columna2 {
    float: right;
}

#col2-conocenos {
    width: 57.4vw;
    padding-top: 120px;
}

.subrayado {
    margin-top: 10px;
    width: 550px;
    border: 5px solid #FF5C00;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#descripcion {
    width: 400px;
    height: 220px;
    margin-top: 20px;
    margin-left: 78px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 19px;
}

#img_about_conocenos {
    width: 337px;
    height: 198px;
    margin-left: 105px;
    margin-bottom: 25px;
    background: url("img/about_img.png");
    background-size: cover;
    box-shadow: 1.5px 1.5px 8px 1.5px #999;
}


/* Cards */

#equipo {
    position: absolute;
    width: 368px;
    height: 63px;
    left: calc(50% - 368px/2 + 280px);
    top: 750px;
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 43px;
    /* or 86% */
    display: flex;
    align-items: center;
    text-align: center;
}

#fondo-puntos {
    position: absolute;
    transform: scale(0.95);
    top: 899px;
    left: 538px;
}

.wrapper .outer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .card {
    background: #FFAB26;
    margin: 10px 10px 20px 80px;
    width: 260px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    justify-content: center;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.card .content {
    display: flex;
    align-items: center;
}

.wrapper .card .img {
    height: 110px;
    width: 110px;
    position: absolute;
    left: -60px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.card .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .details {
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.details span {
    color: #fff;
    font-style: normal;
    line-height: 27px;
    font-weight: 600;
    font-size: 18px;
}


/* Servicios */

#img_servicios {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
}

#lista_servicios {
    margin-top: 24px;
    width: 98.5vw;
    text-align: center;
}

#lista_servicios img {
    /* width: 98vw; */
    width: 98.792vw;
    height: 420px;
}

#flecha {
    background-color: rgba(255, 122, 0);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

#flecha img {
    width: 15.5px;
    height: 15.5px;
}


/* Contactanos */

.servicios-contenedor {
    height: 100%;
}

#img_contactanos {
    margin-top: 20px;
}

#contact {
    margin-bottom: 0;
}

#descripcion_contact {
    margin: 20px;
    height: 400px;
    padding-top: 10px;
}

.text_contact {
    margin: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

#contact_1 {
    margin-top: 30px;
}

#huellitas {
    position: absolute;
    right: 1px;
    top: 1960px;
}

#localizacion {
    position: absolute;
    width: 560px;
    right: 90px;
    top: 1960px;
}

#col1-contactanos {
    width: 40vw;
}

#col2-contactanos {
    width: 58vw;
}