@import url("https://fonts.googleapis.com/css?family=Germania+One");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/*
@font-face {
    font-family: 'Germania One';
    src: url('fuentes/GermaniaOne-Regular.ttf'),
    url('fuentes/germaniaone-regular-webfont.woff2') format('woff2'),
    url('fuentes/germaniaone-regular-webfont.woff') format('woff');
  }
*/

* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #FFFFFF;
    margin: 0px;
}

#noh {
    position: relative;
    margin-top: 14vh;
    height: 86vh;
}

b2 {
    position: absolute;
    width: 1365px;
    height: 619px;
    left: 0px;
    top: 91px;
    background: #FFFFFF;
}

h1 {
    position: absolute;
    width: 459px;
    height: 36px;
    left: 83px;
    top: 53px;
    margin: 0px;
    font-family: Germania One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #402F20;
}

rect {
    position: absolute;
    width: 595px;
    height: 68px;
    left: 0px;
    top: 34px;
    background: rgba(255, 168, 38, 0.9);
    border-radius: 0px 15px 0px 0px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}

p.pr {
    position: absolute;
    width: 415px;
    height: 306px;
    left: 83px;
    top: 211px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    /* or 113% */
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #000000;
}

t1 {
    position: absolute;
    width: 338px;
    height: 26px;
    left: 147px;
    top: 137px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #FF7A00;
}

t2 {
    position: absolute;
    width: 344px;
    height: 29px;
    left: 148px;
    top: 166px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #000000;
}

t3 {
    position: absolute;
    width: 243px;
    height: 26px;
    left: 70px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #FF7A00;
}

t4 {
    position: absolute;
    width: 315px;
    height: 29px;
    left: 70px;
    top: 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 0.12em;
    color: #000000;
}

r2 {
    position: absolute;
    width: 176px;
    height: 49px;
    left: calc(50% - 176px/2);
    top: 528px;
    background: #C4C4C4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
}

bt {
    position: absolute;
    width: 112px;
    height: 30px;
    left: calc(50% - 112px/2);
    top: 538px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    letter-spacing: 0.02em;
    color: #000000;
    cursor: pointer;
}

r2:hover {
    background-color: rgba(255, 168, 38, 0.9);
    transform: scale(0.98);
}

img.bone {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 36px;
    top: 56px;
}

img.med {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 83px;
    top: 141px;
}

img.tab {
    position: absolute;
    width: 65px;
    height: 65px;
}

img.pet {
    position: absolute;
    width: 302px;
    height: 332px;
    left: calc(50% - 302px/2);
    top: 137px;
    margin-left: 1%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

img.bp {
    position: absolute;
    width: 305px;
    height: 356px;
    left: calc(50% - 305px/2);
    top: 151px;
    margin-left: 1%;
}

img.cart {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 18px;
}

cir {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    position: absolute;
    width: 76px;
    height: 71px;
    right: 70px;
    top: 510px;
    z-index: -1;
    /* White */
    background: #FFFFFF;
    border: 1px solid rgba(254, 205, 76, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
}

g22 {
    position: absolute;
    width: 500px;
    height: 346px;
    right: 10px;
    top: 157px;
}

r3 {
    position: absolute;
    width: 450px;
    height: 346px;
    left: 0px;
    top: 0px;
    background: rgba(225, 225, 225, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

hr.lis {
    position: absolute;
    width: 448px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}

lista {
    position: absolute;
    width: 90%;
    height: 346px;
    left: 40px;
    top: 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 49px;
    /* or 306% */
    color: #000000;
}

img.trv {
    position: absolute;
    width: 9.35px;
    height: 14.83px;
    left: 20px;
    margin-top: 0px;
}

recnt {
    position: absolute;
    width: 30px;
    height: 19.1px;
    left: 80%;
}

g23 {
    position: absolute;
    height: 317.68px;
    left: 1250px;
    top: 175px;
    bottom: 13.54px;
}

tServ {
    position: absolute;
    top: 84px;
    left: 880px;
}