* {
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(255, 122, 0);
    --marron: #62412F;
    --verde: #40b840;
}

main {
    position: absolute;
    bottom: 0;
    height: 85vh;
    /*     justify-content: center; */
    /*     align-items: center; */
}


/* #contenedor {} */

#contenedor-boleta {
    padding: 7.5px 10px 0 15px;
    background: #fff;
    width: 84vw;
    height: 71vh;
    border-radius: 20px;
    border: 15px solid var(--bg-color);
    margin-top: 7%;
    margin-left: 7%;
}

#titulo-boleta {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Red Rose', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 1px;
}


/* Boton exit */

#exit {
    margin-top: 2px;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#exit:hover {
    transform: scale(0.9);
}

.columna1 {
    float: left;
    width: 49%;
    height: 76%;
}

.columna2 {
    float: right;
    width: 49.5%;
    height: 76%;
}

fieldset {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    width: 240px;
    height: 21.5%;
    display: inline-block;
    margin: 2px;
}

legend {
    width: auto !important;
    border-bottom: 0 !important;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    padding: 0 3px;
}

input {
    background: none;
    padding: 0 5px;
    text-align: center;
    border: none;
    outline: none;
    margin-left: 8px;
    width: 90%;
}

#cuadro_mascota {
    height: 73%;
}

#col1,
#col2 {
    height: 64%;
}

.cuadro-inline {
    display: inline;
    width: 96%;
    height: 13.5%;
}

#cuadro-email {
    margin-top: 5px;
}

#cuadro_resumen {
    float: right;
    width: 95%;
    height: 64%;
    margin-right: 20px;
}

.text-input {
    float: right;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70%;
    height: 13%;
    margin: 0.3em;
}

.text-input h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    float: right;
    margin-right: 15px;
    margin-top: 0.8em;
}

.text-input input {
    float: right;
    margin-right: 15px;
    width: 40%;
    height: 95%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#importante {
    display: inline-block;
    height: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: var(--marron);
    margin-top: 1em;
}

#importante span {
    color: var(--bg-color);
}

#enviar {
    color: #fff;
    float: right;
    border: none;
    background-color: var(--marron);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    padding: 3px 30px;
    margin-right: 8px;
    transition: 0.3s;
    cursor: pointer;
}

#enviar:hover {
    background-color: var(--bg-color);
}

button:hover {
    transform: scale(0.99);
}